<a href="https://colab.research.google.com/github/zoe43/108-computation-syllabus/blob/master/Copy_of_Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
第一次期中考成績=int(input('請輸入第一次期中考成績?'))
第二次期中考成績=int(input('請輸入第二次期中考成績?'))
期末考=int(input('請輸入期末考成績?'))

sum=第一次期中考成績+第二次期中考成績+期末考
print('總分為',sum)


average=sum/3
print('平均為',average)

請輸入第一次期中考成績?75
請輸入第二次期中考成績?80
請輸入期末考成績?65
總分為 220
平均為 73.33333333333333

In [0]:
number=input('請輸入座號?')
print('組別為',8)

請輸入座號?31
組別為 8

In [0]:
數量=int(input('請輸入購買飲料的罐數?'))
一打=int(數量/12)
個數=(數量-一打*12)
一打價格=一打*200
個數價格=個數*20
總價=一打價格+個數價格
print("需花費",總價)

請輸入購買飲料的罐數?30
需花費 520

In [0]:
c=float(input("請輸入幾尺?"))
d=float(input("請輸入幾吋?"))
y=(c*12+d)*2.54
print('轉換為', y)

請輸入幾尺?5
請輸入幾吋?8
轉換為 172.72

In [0]:
pr